root {
}
/* убираем подчёркивание с ссылок */
a {
  text-decoration: none;
}
/* Убираем точки из списков */
ul {
  list-style: none;
}

/* скрываем заголовки h1  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

.web {
  color: #2196f3;
}

/* кнопки (фильтр) для портфолио  */
.btn {
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.navigation {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}
/* стили ссылки при ховере */
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
/* подсветка ссылки текущей страницы */
.curentpage {
  color: #2196f3;
}
.address {
  font-style: normal;
}
